body {
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;
    font-size: large;
    color: #444;
    margin: 0;
    background: #EFEFEF;
}

header {
    background: #800;
    padding: 1em 10%;
    color: white;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 10em;
}

nav button {
    display: none;
}

nav ul {
    background: white;
    margin: 0 0 1em 0;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: #444;
    display: block;
    padding: 3em 1em 0.5em 1em;
    background-size: 2.4em;
    background-repeat: no-repeat;
    background-position: center 0.5em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

nav a:hover {
    color: transparent;
    background-size: 4em;
    background-position: center;
}

#home {
    background-image: url("../images/Home Filled-100.png");
}

#about {
    background-image: url("../images/About-100.png");
}

#news {
    background-image: url("../images/News-100.png");
}

#contact {
    background-image: url("../images/Email-100.png");
}

article {
    float: right;
    width: 50%;
    margin: 1em 10% 1em 0;
}

aside {
    float: left;
    width: 25%;
    margin: 1em 0 1em 10%;
}

footer {
    clear: both;
    background: #800;
    padding: 1em 10%;
    color: white;
}

figure img, figure video {
    max-width: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
}

figure {
    margin: 1em 0;
    padding: 0;
}

@media screen and (max-width:570px) {
  header {
    text-align: center;
    padding: 3em 1em 1em 1em;
    background-position: center 1em;
    font-size: 0.8em;
  }

  article, aside {
    float: none;
    width: auto;
    margin: 1em 10%;
  }
}

@media screen and (max-width: 500px) {

  header {
    padding-top: 5em;
    background-position: center 3em;
  }

  nav {
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
    height: 2em;
    overflow: hidden;
    transition: height 1s;
  }

  nav.open {
    height: 12em;
  }

  nav button {
    display: inline-block;
    color: transparent;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    font-size: 0;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.5rem 1rem;
    background-image: url(../images/Menu-50.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  nav ul {
    background: transparent;
  }

  nav li {
    display: block;
  }

  nav a {
    padding: 0.5em 1em 0.5em 3em;
    text-align: left;
    background-size: 1.2em;
    background-position: 1em center;
    transition: all 0.5s;
  }

  nav a:hover {
    color: inherit;
    background-size: 1.2em;
    background-position: 1em center;
    background-color: #e7ebff;
  }
}
